<h1>Listing item_userdreams</h1>

<table>
  <tr>
    <th>Item</th>
    <th>Dream</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @item_userdreams.each do |item_userdream| %>
  <tr>
    <td><%= item_userdream.item %></td>
    <td><%= item_userdream.dream %></td>
    <td><%= link_to 'Show', item_userdream %></td>
    <td><%= link_to 'Edit', edit_item_userdream_path(item_userdream) %></td>
    <td><%= link_to 'Destroy', item_userdream, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item userdream', new_item_userdream_path %>
